table{
    width: 100%;
    
    border-collapse: collapse;
    margin-bottom: 40px;
}


th,td {
    border: 1px solid #000 ;
    padding: 8px;
    text-align: left;
    margin-top: 30px;
}

th{

    background-color: #e0dee9;
    margin-top: 30px;
}

tr{
    border-radius: 20px;
}

table{
    margin-top: 20px;
}

.columna1 {
    width: 30% ;
}

.columna2{
    width: 30%;
}

button{
    border-radius: 8px;
    width: 100px;
    height: 35px;
    background-color: rgb(47, 195, 36);
    color: white;
    border: none;
}

input{
    border-radius: 5px;
    width: 180px;
    height: 25px;
    text-align: center;
}

footer{
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 375px;
}

