
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


th,td {
    border: 1px solid #000 ;
    padding: 8px;
    text-align: left;
    margin-top: 30px;
}

table{
    margin-top: 20px;
}

th{
    background-color: #e0dee9;
    margin-top: 30px;
}

button{
    border-radius: 5px;
    padding: 10px;
    margin-left: 7px;
}

.columna1 {
    width: 5% ;
}

.columna2{
    width: 10%;
}

.columna3{
    width: 10%;
}

.columna4 {
    width: 10% ;
}

.columna5{
    width: 25%;
}

.columna6{
    width: 15%;
}

.columna7 {
    width: 10% ;
}

.columna8{
    width: 15%;
}




footer{
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 375px;
}