.flex-container{
    display: flex;
    text-align: center;
    width: 600px;
    height: 600px;
    margin: auto;
    /* background-color: #1f2c38; */
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

body{
    background-image: url(/img/back.jpg);

}

.flex__card{
    width: 200px;
    height: 200px;
    /* background-color: #1f2c38; */
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 12px;
    border: 3px solid #00bfff;
    margin-top: 50px;
    margin-left: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px 0px #00f9ff;
    transition: box-shadow 0.3s; 
}

.flex__card:hover{
    box-shadow: 0 0 20px 5px #00f9ff;
}

div h1,h2{
    text-align: center;
}

header{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.flex__head{
    text-align: center;
}

button{
    color: white;
    background-color: #1da1f2;
    padding: 15px;
    border-radius: 8px;
    border: none;
}

h3{
    margin-top: 70px
}