
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


th,td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table{
    margin-top: 20px;
}

th{
    background-color: #e0dee9;
}

.columna1 {
    width: 20% ;
}

.columna2{
    width: 20%;
}

.columna3{
    width: 60%;
}

footer{
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 473px;
}